* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%); 
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    
    --switch-bg: url(./images/image-product-desktop.jpg);
    --switch-radius1: 12px 0 0 12px;
    --switch-radius2: 0 12px 12px 0;
}

.mobile{
    --switch-bg: url(./images/image-product-mobile.jpg);
}

body {
    background-color: var(--Cream);
}

.container {
    display: flex;

    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

.content {
    display: flex;

    width: 600px;
    height: 450px;

    border-radius: 12px;

}

.image-box{
    display: flex;

    width: 300px;

    background-image: var(--switch-bg);
    background-size: contain;
    
    border-radius: var(--switch-radius1);
}

/* .image-box img{
    height: 100%;

    border-radius: 12px 0 0 12px;
} */

.content-box{
    display: flex;

    width: 300px;

    flex-direction: column;
    justify-content: space-between;

    padding: 30px;

    background-color: var(--White);

    border-radius: var(--switch-radius2);
}

.content-box h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.3em;

    text-transform: uppercase;

    color: var(--Dark-grayish-blue);
}

.content-box h2{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 32px;

    line-height: 1em;

    color: var(--Very-dark-blue);
}

.content-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    
    line-height: 1.5em;

    color: var(--Dark-grayish-blue);
}

.price {
    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 200px;
}

.price-big{
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: 700;

    color: var(--Dark-cyan);
}

.discount {
    text-decoration: line-through;

    color: var(--Dark-grayish-blue);
}

button {
    background-color: var(--Dark-cyan);
    
    height: 46px;

    border: none;
    border-radius: 6px;

    color: var(--White);
}

